h1{
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #faf9f6;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    width: 100px;
    height:70px;
  }
  
  .text {
    font-size: 10px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
  }
  .div{
    margin-left: 150px;
  }